* {
	box-sizing: border-box;
	touch-action: manipulation;
}

html {
	font-family: "Inter", sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	background-color: rgb(251, 251, 251);
	min-height: 100dvh;
}

main {
	min-height: 100dvh;
}